<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Estilos.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
 <a href="{% url 'home' %}" >Regresar</a>
  <br> 
  <CENTER>
  <h1><strong>ARTICULOS PUBLICADOS</strong></h1>
  <CENTER>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-5">
    <div class="container-fluid">
    <div class="panel panel-danger">
        <div class="panel-heading">La Inteligencia Artificial</div>
        <img class= width="100em" height="100em" 
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTA1C2Ovymo2EoFYaMAL1-3_fS_TTaY1wDMNg&usqp=CAU" alt="">
        <div class="panel-body"> Sistemas que piensan como humanos: automatizan actividades como la toma de decisiones, la resolución de problemas y el aprendizaje <br>
       Un ejemplo son las redes neuronales artificiales<br>
        <br> Publicado por : Cecilia Mendez
         <br> Autorizado por: Mario Ochoa </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">La Educacion Virtual</div>
        <img class= width="100em" height="100em" 
          src="https://cdn.icon-icons.com/icons2/1879/PNG/512/iconfinder-3-avatar-2754579_120516.png" alt="">
        <div class="panel-body">La enseñanza virtual o escuela virtual es aquella donde el alumno aprende principalmente en línea 
        o a través de internet.1​ Una escuela en línea puede aglutinar muchos de los beneficios proporcionados por una escuela física (materiales didácticos, ejercicios en línea, clases en línea en directo, exámenes, foros, tutor especializado. etc) pero todo realizado a través de internet. Además la interacción entre estudiantes y profesores es posible aunque no es necesaria. La enseñanza virtual permite a los alumnos participar
         en un entorno digital y llevar a cabo su formación en cualquier materia.
        <br>
        <br>Publicado por: Jose Lopez
        <br> Autorizado por: Mario Garcia</div>
      </div>
    </div>
  </div>
      <div class="col-md-6">
        <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">Deficiencias en el aprendizaje online</div>
        <img class= width="100em" height="100em" 
          src="https://cdn.icon-icons.com/icons2/1879/PNG/512/iconfinder-3-avatar-2754579_120516.png" alt="">
        <div class="panel-body">Dentro de esta explosión de la “tecnologización” de la educación se encuentra la educación virtual como un proceso que semuestra como una propuesta radicalmente innovadora. Sin embargo, en muchos casos no hay una fundamentación teórica de lo que se pretende, ni especificaciones en torno al logro de los objetivos planteados. Es importante tener en cuenta que no por incorporar las modernas tecnologías se está logrando que las acciones conducidas por esa vía, sean realmente educativas, ni que
         resida en las tecnologías la solución de los problemas a los que se enfrenta la sociedad actual 
         <br>
        <br> Publicado por: Moises Lopez
         <br>Autorizado por: Joselyn Orozco
        </div> 
      </div>
    </div>
      <div class="col-md-5">
        <div class="panel panel-primary">
        <div class="panel-heading">Nuevas tecnologias de la comunicacion</div>
        <img class= width="100em" height="100em" 
          src="https://cdn.icon-icons.com/icons2/1879/PNG/512/iconfinder-3-avatar-2754579_120516.png" alt="">
        <div class="panel-body">Las nuevas tecnologías se refieren a todos los nuevos medios que, en los últimos años, han facilitado el flujo de información (internet, el videodisco digital [DVD], los computadores portátiles y todos los aparatos tecnológicos que sirven para producir, desarrollar y llevar a cabo la comunicación). En lo que se refiere a los medios de comunicación, las nuevas tecnologías han posibilitado la existencia de periódicos digitales, de publicidad en Internet, de la emisión de música y videos sin necesidad de aparatos de radio o equipos de sonido, así como de la comunicación instantánea entre personas de diversos países
         con un costo económico mucho menor que el que implican los servicios telefónicos convencionales <br>
        <br> Publicado por:Jasinto Barrios</div>
      </div>
    </div>
    </div>
  </div>
</body>
</html>