/Entornopractica/Test/manage.py
/Entornopractica/Lib/site-packages
/Entornopractica/Lib/site-packages/__pycache__
/Entornopractica/Lib/site-packages/_distutils_hack
/Entornopractica/Lib/site-packages/asgiref
/Entornopractica/Lib/site-packages/asgiref/__pycache__
/Entornopractica/Lib/site-packages/asgiref/__init__.py
/Entornopractica/Lib/site-packages/asgiref/current_thread_executor.py
/Entornopractica/Lib/site-packages/asgiref/local.py
/Entornopractica/Lib/site-packages/asgiref/server.py
/Entornopractica/Lib/site-packages/asgiref/sync.py
/Entornopractica/Lib/site-packages/asgiref/testing.py
/Entornopractica/Lib/site-packages/asgiref/timeout.py
/Entornopractica/Lib/site-packages/asgiref/wsgi.py
/Entornopractica/Lib/site-packages/asgiref-3.2.10.dist-info
/Entornopractica/Lib/site-packages/asgiref-3.2.10.dist-info/INSTALLER
/Entornopractica/Lib/site-packages/asgiref-3.2.10.dist-info/LICENSE
/Entornopractica/Lib/site-packages/asgiref-3.2.10.dist-info/METADATA
/Entornopractica/Lib/site-packages/asgiref-3.2.10.dist-info/RECORD
/Entornopractica/Lib/site-packages/asgiref-3.2.10.dist-info/top_level.txt
/Entornopractica/Lib/site-packages/asgiref-3.2.10.dist-info/WHEEL
/Entornopractica/Lib/site-packages/astroid
/Entornopractica/Lib/site-packages/astroid-2.4.2.dist-info
/Entornopractica/Lib/site-packages/django
/Entornopractica/Lib/site-packages/Django-3.1.1.dist-info
/Entornopractica/Test/Apps
/Entornopractica/Test/Apps/home
/Entornopractica/Test/Apps/home/__pycache__
/Entornopractica/Test/Apps/home/templates
/Entornopractica/Test/Apps/home/__init__.py
/Entornopractica/Test/Apps/home/admin.py
/Entornopractica/Test/Apps/home/apps.py
/Entornopractica/Test/Apps/home/models.py
/Entornopractica/Test/Apps/home/tests.py
/Entornopractica/Test/Apps/home/urls.py
/Entornopractica/Test/Apps/home/views.py
/Entornopractica/Test/Apps/_init__.py